body {
  margin: 0;
}

.messageUserName:hover {
  cursor: pointer;
}

#friends__backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#friends__modal {
  display: none;
  position: fixed;
  background: white;
  padding: 10px;
  width: 260px;
  top: 100px;
  left: calc(50% - 140px);
  z-index: 1;
}

#friends__modal h1 {
  margin: 0;
}

#friends__modal button {
  background: #fa923f;
  color: white;
  border: 1px solid #521751;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  margin: 2px;
}

#friends__modal button:hover,
#friends__modal button:active {
  background: #521751;
}

#friends__modal button:focus {
  outline: none;
}

/* FRIEND SEARCH BUTTON -------------- */

/* body {
  background: #e84118;
} */

#friend-search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

#friend-search-box:hover > .search-txt {
width: 240px;
padding: 0 6px;
}

#friend-search-box:hover > .friend-search-btn {
  background: white;
}

.friend-search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}